.wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  
  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }
  
  .wrapper > div:nth-child(1n) {
      font-weight: 900;
      letter-spacing: -1px;
  }
  
  .wrapper > div:nth-child(3n) {
    display: flex;
    justify-content: space-evenly;
    font-size: .8em;
  }
  
  .wrapper > div:nth-child(2n) {
  }
  
  .wrapper > div:nth-child(4n) {
  }

  .wrapper > div:nth-child(5n) {
    
  }

  .wrapper > div:nth-child(6n) {
  }

  .wrapper > div:nth-child(7n) {
    font-size: smaller;
    font-weight: 900;

  }