/* -----WRAPPER DIV PROPERTIES----- */
.wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }

/* -----MAIN BODY PROPERTIES----- */
  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }

/* -----NTH CHLD PSEUDO CLASSES----- */
  .wrapper > div:nth-child(1n) {
      font-family:sans-serif;
      font-weight: 900;
      letter-spacing: -1px;
  }
  
  .wrapper > div:nth-child(3n) {
    display: flex;
    justify-content: space-evenly;
    font-size: .8em;
  }

  .wrapper > div:nth-child(7n) {
    font-size: smaller;
    font-weight: 900;

  }