:root {
    /* -----COLOR PALETTE----- */
    --clr-darkest: rgba(3, 7, 30, 1);
    --clr-purple: #5a189a;
    --clr-transparent-purple: rgba(90, 24, 154, .2);
    --clr-dark-purple: #240046;
    --clr-gold: #f7d002;
}

    /* -----ELEMENT PROPERTIES----- */
button {
    background-color: var(--clr-dark-purple);
    width: 15%;
    min-height: 60px;
    font-weight: bolder;
    display: flex;
    padding: 1em;
    justify-content: center;
    border: none;
    border-radius: 8px;
    min-width: 140px;
    grid-area: b;
    margin: 0.5em;
}

h1 {
    font-family: 'Montserrat Subrayada';
    color: var(--clr-purple);
    text-shadow: 3px 1px 1px  var(--clr-gold);
}

    /* -----CONTAINER----- */
.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "m m m m t t t t i i i i"
    "im im im im im im im im im im im im"
    "c c c c c c c c c c c c"
    "b b b b b b b b b b b b"
    "f f f f f f f f f f f f"
    ;
}

    /* -----CLASS PROPERTIES----- */
.article-buttons {
    width: 100%;
    display: block;
    justify-items:normal;
}

.article-card {
grid-area: c;
background-color: var(--clr-selective-yellow);
padding: 1.5em;
border-radius: 16px;
}

.article-text {
    font-size: 0.5em;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

.author-name {
    font-weight: 200;
    font-size: .4em;
    line-height: 0.8;
    margin-bottom: 0.5em;
}

.byline-card {
    letter-spacing: .5px;
    margin: 0.5em;
}

.happel-pic {
    grid-area: im;
}

.icons {
    margin-bottom: 1em;
    padding: 1em;
}

.menu {
    padding: 1em;
}

.title {
    padding: 1em;
    font-size: 1em;
}
