
:root {
    --clr-darkest: rgba(3, 7, 30, 1);
    --clr-purple: #5a189a;
    --clr-transparent-purple: rgba(90, 24, 154, .2);
    --clr-dark-purple: #240046;
    --clr-gold: #f7d002;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "m m m m t t t t i i i i"
    "im im im im im im im im im im im im"
    "c c c c c c c c c c c c"
    "b b b b b b b b b b b b"
    "f f f f f f f f f f f f"
    ;
}

.article-card {
    grid-area: c;
    background-color: var(--clr-selective-yellow);
    padding: 1.5em;
    border-radius: 16px;
}

.article-text {
    font-size: 0.75em;
}

.menu {
    padding: 1em;
}

.happel-pic {
    grid-area: im;
}

.title {
    padding: 1em;
    font-size: 1em;
}

.icons {
    margin-bottom: 1em;
    padding: 1em;
}

h1 {
    font-family: 'Montserrat Subrayada';
    color: var(--clr-purple);
    text-shadow: 3px 1px 1px  var(--clr-gold);
}

button {
    background-color: var(--clr-dark-purple);
    font-weight: bolder;
    display: flex;
    padding: 1em;
    justify-content: center;
    float: unset;
    border: none;
    border-radius: 8px;
    min-width: 140px;
    grid-area: b;
}

.article-buttons {
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 1200px) {
    h1 {
        font-size: 1em;
    }
}