/* -----TABLET AND MOBILE----- */
@media (min-width: 400px) and (max-width: 992px) {
    /* -----CONTAINER----- */
    .wrapper {
        height: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "m m m m m m m m m m m m"
        "t t t t t t t t t t t t"
        "i i i i i i i i i i i i"
        "h h h h h h h h h h h h"
        "in in in in in in in in in in in in"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f"
        ;
    }
    /* -----ELEMENT PROPERTIES----- */
    h1 {
        font-size: 1.25em;
    }

    /* -----CLASS PROPERTIES----- */
    .icons {
        margin-bottom: 1em;
        background-color: var(--clr-tangerine);
        padding: 1em;
    }

    .menu {
        background-color: var(--clr-selective-yellow);
        padding: 1em;
    }

    .title {
        padding: 1em;
        font-size: 1em;
    }
}

/* -----DESKTOP----- */
@media (min-width: 993px) and (max-width: 1400px) {
    /* -----ELEMENT PROPERTIES----- */
    h1 {
        font-size: 1em;
    }
}

/* -----LARGE SCREEN/TV----- */
@media (min-width: 1401px) and (max-width: 1920px) {
    /* -----ELEMENT PROPERTIES----- */
    h1 {
        font-size: 1.25em;
    }
}