:root {
    /* -----COLOR PALETTE----- */
--clr-darkest: rgba(3, 7, 30, 1);
--clr-dark-sienna: rgba(55, 6, 23, 1);
--clr-rosewood: rgba(106, 4, 15, 1);
--clr-dark-crimson: rgba(157, 2, 8, .1);
--clr-rosso-corsa: rgba(208, 0, 0, 1);
--clr-vermilion: rgba(220, 47, 2, 1);
--clr-persimmon: rgba(232, 93, 4, 1);
--clr-tangerine: rgba(244, 140, 6, .1);
--clr-orange-web: rgba(250, 163, 7, 1);
--clr-selective-yellow: rgba(255, 186, 8, .1);
--clr-white: rgba(255, 255, 255, 1)
};

*,
*::before,
*::after {
    
}

body {
    line-height: 1.1;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

blockquote {
    border-radius: 16px;
    font-size: 1.2em;
    font-weight: 900;
    padding: 1.2em;
    line-height: 1.2;
    background-color: var(--clr-selective-yellow);
}

#attribution {
    font-size: .75em;
    text-align: right;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto auto 40px;
    grid-template-areas: 
    "m m m m t t t t i i i i"
    "h h h h h h h h h h h h"
    "in in in in in in c c c c c c"
    "f f f f f f f f f f f f"
    ;
}

.menu {
    grid-area: m;
    align-content: center;
    min-width: auto;

}

.menu-items {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

h4 {
    font-size: .5em;
}

.title {
    grid-area: t;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.icons {
    grid-area: i;
    display: flex;
}

.inset {
    grid-area: in;
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
    background-color: var(--clr-tangerine);

}

.footer {
    font-size: xx-small;
    grid-area: f;
    justify-self: end;
    color: var(--clr-vermilion);
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.4em;
    text-align: right;
}

img {
    width: 100%;
}

i {
    color:rgba(3, 7, 30, 1);
}