@import url('media-queries.css');

:root {
    /* -----COLOR PALETTE----- */
    --clr-darkest: rgba(3, 7, 30, 1);
    --clr-dark-sienna: rgba(55, 6, 23, 1);
    --clr-rosewood: rgba(106, 4, 15, 1);
    --clr-dark-crimson: rgba(157, 2, 8, .2);
    --clr-rosso-corsa: rgba(208, 0, 0, 1);
    --clr-vermilion: rgba(220, 47, 2, 1);
    --clr-persimmon: rgba(232, 93, 4, 1);
    --clr-tangerine: rgba(244, 140, 6, .2);
    --clr-orange-web: rgba(250, 163, 7, 1);
    --clr-selective-yellow: rgba(255, 232, 21, 0.2);
    --clr-bright-gold: rgb(255, 217, 0);
    --clr-white: rgba(255, 255, 255, 1)
};

body {
    line-height: 1.1;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-dark-sienna);
}

#attribution {
    font-size: .75em;
    text-align: right;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto auto 40px;
    grid-template-areas: 
    "m m m m t t t t i i i i"
    "h h h h h h h h h h h h"
    "in in in in in in c c c c c c"
    "f f f f f f f f f f f f"
    ;
}

.article-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    padding: 0;
}

.menu-items {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

h1 {
    font-size: 1.25em;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: var(--clr-rosso-corsa);
    text-shadow: 3px 1px 1px  var(--clr-darkest);
}

h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-darkest);
    padding-bottom: 0.25em;
}

h3 {
    font-size: .5em;
    padding-bottom: 0;
}

h4 {
    color: #666;
    font-style: italic;
    text-align: right;
}

.menu {
    grid-area: m;
    align-content: center;
    min-width: auto;
}

.title {
    grid-area: t;
    text-align: center;
    font-size: 2.5em;
}

.icons {
    grid-area: i;
    display: flex;
}

.inset {
    grid-area: in;
    border-radius: 16px;
    font-size: 1.2em;
    font-weight: 900;
    padding: 1.2em;
    line-height: 1.2;
    background-color: var(--clr-selective-yellow);
}

.header {
    grid-area: h;
}

.post-link {
    color: var(--clr-white)
}

button {
    font-weight: bold;
    display: flex;
    text-align: center;
    padding: 1em;
    float: right;
    border: none;
    border-radius: 8px;
    background-color: var(--clr-rosso-corsa);
}

.content-card {
    grid-area: c;
    background-color: var(--clr-tangerine);
    padding: 1.5em;
    border-radius: 16px;
}

.footer {
    font-size: xx-small;
    grid-area: f;
    justify-self: end;
    color: var(--clr-darkest);
}

a {
    text-decoration: none;
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.4em;
    text-align: right;
    padding-top: 0;
    padding-bottom: .75em;
}

img {
    width: 100%;
}

i {
    color: var(--clr-darkest);
}