:root {
    /* -----COLOR PALETTE----- */
--clr-darkest: rgba(3, 7, 30, 1);
--clr-dark-sienna: rgba(55, 6, 23, 1);
--clr-rosewood: rgba(106, 4, 15, 1);
--clr-dark-crimson: rgba(157, 2, 8, 1);
--clr-rosso-corsa: rgba(208, 0, 0, 1);
--clr-vermilion: rgba(220, 47, 2, 1);
--clr-persimmon: rgba(232, 93, 4, 1);
--clr-tangerine: rgba(244, 140, 6, 1);
--clr-orange-web: rgba(250, 163, 7, 1);
--clr-selective-yellow: rgba(255, 186, 8, 1);
--clr-white: rgba(255, 255, 255, 1)
};

*,
*::before,
*::after {
    
}

body {
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 40px 40px;
}

.menu {
    grid-column: 1 / 5;
}

/* .menu-items {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: fuchsia;
} */

.title {
    grid-column: 5 / 9;
    background-color: var(--clr-tangerine);
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.icons {
    grid-column: 9 / -1;
    background-color: var(--clr-persimmon);
    text-align: right;
}

.inset {
    grid-column: span 6;
    background-color: var(--clr-dark-sienna);

}

.header {
    grid-column: 1 / -1;
    background-color: var(--clr-orange-web);
}

.content {
    grid-column: span 6;
    background-color: var(--clr-white);
}

.footer {
    grid-column: span 12;
    background-color: var(--clr-rosewood);
}